@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600; /* Use the appropriate font-weight value */
  font-style: normal;
}

.box1-cont {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.box1-el {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 7px 8%;
}

.bac-box1 {
  background-color: #fff4ea;
  width: 100vw;
  height: 27vw;
}

.bac-box1 .logo-box1 {
  display: flex;
  justify-content: right;
}

.h1-box1 {
  margin-top: 150px;
  padding: 0px 13%;
  width: 38vw;
  word-spacing: 10px;
  font-family: "Quiksand";
  font-weight: 600;
}

.p-box1 {
  padding: 0px 13%;
  font-family: "Quiksand";
  width: 38vw;
  word-spacing: 4px;
  font-weight: 400;
}

.info-box1 {
  width: 51.4vw;
}


.info-box1 .h1-box1::after {
  content: "TO YOU, YOU GO TO IT” "; /* Append text using pseudo-element */
  display: block; /* Display on a new line */
  
}


.info-box1 .p-box1::after {
  content: "ordinary. I’m here to help and share my story. "; /* Append text using pseudo-element */
  display: block; /* Display on a new line */
  
}

.img-box1 {
  width: 30vw;
  display: flex;
  justify-content: flex-end;
  margin-top: -25%;
}
