.cont-all {
  margin: 0;
  padding: 0;
  padding: 7px 8%;
}
.footer-section {
  background: #151414;
  padding: 7px 3%;
  width: 79.4vw;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta .phone {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 24px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-ul{
    margin: 0;
    padding: 0; 
}

.contacts-icon {
  margin-bottom: 15px;
}

.single-cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text .copy-span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern .img-fluid {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-top: 10px;
}
.footer-logo .img-fluid {
  max-width: 200px;
}

.footer-widget{
    max-width: 80%;
}

.col-xl-4{
    max-width: 50%;
}

.img-fluid{
    width: 5vw;
}

.footer-text .copy-p {
  margin-bottom: 14px;
  max-width: 100%;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon .copy-span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon{
    margin-bottom: 12px;
}

.footer-social-icon .copy-a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  color: white;
  width: 2.7vw;
  height: 2.7vw;
}
.google-bg {
  color: white;
  width: 2.5vw;
  height: 2.5vw;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}


.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}

.copy-use{
    width: 30vw;
}


.footer-widget ul .copy-li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
  margin-left: -5px;
}
.footer-widget ul .copy-li a:hover {
  color: #ff5e14;
}
.footer-widget ul .copy-li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
    border-top: 1px solid #373636;
  padding: 25px 0;
}

.copyright-text .copy-p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text .copy-p .copy-a {
  color: #ff5e14;
}
.footer-menu .copy-li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu .copy-li:hover .copy-a {
  color: #ff5e14;
}
.footer-menu .copy-li .copy-a {
  font-size: 14px;
  color: #878787;
}
