@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600; /* Use the appropriate font-weight value */
  font-style: normal;
}

.english2-cont {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.english2-el {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 50px 8%;
}

.bac-english2 {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.english2-split1 {
  background-color: #f9f6be;
  width: 48%;
  height:40vw;
}

.english2-split2 {
  background-color: #fffcc7;
  width: 48%;
  height:40vw;
}

.english2-img {
  width: 40.31vw;
}

.english2-title-h1 {
  text-align: center;
  color: #f06c21;
}

.english2-title-p{
  text-align: center;
  font-size: 25px;
  padding: 3px 5%;
}

.english2-split2-title{
  padding: 0px 8%;
  text-align: justify;
  font-size: 30px;
  line-height: 42px;
}